<h1>Accessible Modal Component</h1>
<p>Welcome to the accessible modal testing page!</p>

<button class="button button-primary" type="button" (click)="show()">Show modal</button>

<ng-template #modal>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-field">
      <label for="firstName">First name</label>
      <input id="firstName" formControlName="firstName" aria-describedby="firsName-error" [attr.aria-invalid]="form.get('firstName')?.invalid">
      <span id="firsName-error" *ngIf="form.get('firstName')?.errors?.required" class="validation-error">
        First name is required.
      </span>
    </div>
    <div class="form-field">
      <label for="surname">Surname</label>
      <input id="surname" formControlName="surname" aria-describedby="surname-error" [attr.aria-invalid]="form.get('surname')?.invalid">
      <span id="surname-error" *ngIf="form.get('surname')?.errors?.required" class="validation-error">
        Surname is required.
      </span>
    </div>
    <div class="form-field">
      <label for="age"> Age</label>
      <input id="age" formControlName="age" aria-describedby="age-error" [attr.aria-invalid]="form.get('age')?.invalid">
      <span id="age-error" *ngIf="form.get('age')?.errors?.required" class="validation-error">
        Age is required.
      </span>
    </div>
  
    <input type="checkbox" name="info" id="info" (change)="info = !info" formControlName="info">
    <label for="info">Subscribe to newsletter</label>
    <p [@fade] *ngIf="info">This is a placeholder for more information</p>
  
    <div class="button-group">
      <button class="button button-primary" type="submit" [attr.aria-disabled]="form.invalid">Submit</button>
      <button class="button button-secondary" type="button" (click)="modalRef.close()">Cancel</button>
    </div>
  </form>
</ng-template>