<h1>Accessible Modal Component</h1>
<p>Welcome to the accessible modal testing page!</p>

<button class="button button-primary" type="button" (click)="show()">Show modal</button>

<ng-template #modal>
  <div class="form-field">
    <label for="firstName">First name</label>
    <input id="firstName" [value]="firstName">
  </div>
  <div class="form-field">
    <label for="surname">Surname</label>
    <input id="surname">
  </div>
  <div class="form-field">
    <label for="age"> Age</label>
    <input id="age">
  </div>

  <input type="checkbox" name="info" id="info" (change)="info = !info">
  <label for="info">Subscribe to newsletter</label>
  <p [@fade] *ngIf="info">This is a placeholder for more information</p>

  <div class="button-group">
    <button class="button button-primary" type="button">Submit</button>
    <button class="button button-secondary" type="button" (click)="modalRef.close()">Cancel</button>
  </div>
</ng-template>